.filterBackground{
    position: sticky;
    top: 5vh;
    height: 100vh;


   
    overflow-y: auto
}

.searchField{
    top: 4vh;
   z-index: 100;
    position: sticky;
    width: 50vw;
 
   

    
}

.productContainer{
    margin-top: 20px;
    max-height: 80vh; 
  overflow-y: auto; 
}


.searchField{
  
}

.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}


@media screen and (max-width: 600px) {
    .filterBackground{
        display: none;
    }

  
}