

*::before,
*::after{
  box-sizing: border-box;
}
*{
 margin: 0;
}

/* html,body{
  height: 100%;
} */
body{
  font-family: "Inter",sans-serif;
  line-height: 1.5;
  font-size: 0.9rem;
  overflow-x: hidden;
}


img,svg{
  display: block;
  max-width: 100%;
}