.wrapper{
    background-image:url("../../assets/HomeBackground.png");
    background-repeat: no-repeat;
background-size: cover;
background-position: center;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 
    height: 100vh;
    width: 100vw;
  
  
}

.searchBar>input{
    width: 40vw;
    padding: 0.75rem;
    border-radius: 20px 0px 0px 20px ;
   font-size: 1rem;
   border-color: transparent;
   

}

.searchBar{
    display: flex;
  align-items: center;
 
    /* top: 6rem; */
   
  padding: 8px;
  border-radius: 4px;
}


button {
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 0px 20px 20px 0px ;

    
    
  }
.searchIcon {
    width: 100%; /* Adjust the size as needed */
    height: 100%;
    fill: #333; /* Adjust the fill color as needed */
    
  }

.suggestionBox{
  width: 50vw;
  height: 50vh;
  background-color: #FFF;
}


